@import url('https://fonts.googleapis.com/css?family=Montserrat');
// -----------------------------------
// Variables for user customisation
// -----------------------------------

@body-background: #fff;
@background-black: #333;
@color--red: #ed2024;
@text-color: #444;
@small: 600px;
@medium: 840px;
@large: 1440px;
@medium-large: 1280px;
@extra-large: 1920px;
@huge: 2440px;
@extra-huge: 3280px;

// -----------------------------------
// Generic styles
// -----------------------------------

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  height: 100%;
  background: @background-black;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  color: @text-color;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  height: 100%;
}

a {
  text-decoration: none;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 0.35em;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0.2em;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0.1em;
}

.center-md {
  @media (max-width: @large) and (min-width: @small) {
    text-align: center;
  }
}

// -----------------------------------
// Structure
// -----------------------------------

.container {
  padding: 2em;
  margin: 66px auto 0;
  position: relative;
  background: white;
  max-width: @extra-huge;
  width: 95%;

  @media (min-width: @medium) {
    width: 85%;
  }

  &__wrapper {
    background: white;
    grid-area: photos;
  }
}

#gallery {
  display: grid;
  grid-template-areas:
          'navigation-bar'
          'photos'
          'footer';
  grid-template-rows: auto auto 1fr;
  min-height: 100vh;
}

// -----------------------------------
// Navigation
// -----------------------------------

.nav-container {
  width: 100%;
  background: @background-black;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  grid-area: navigation-bar;
  z-index: 1;
}

.navigation-bar {
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 calc(2.5% + 32px);
  color: white;

  a {
    text-decoration: none;
    color: white;
  }

  img {
    max-height: 50px;
    margin: 5px;
  }

  @media (min-width:@medium) {
    padding: 0 calc(7.5% + 32px);
  }

  &__menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    & li {
      text-align: center;
      margin: 15px auto;
      padding: 0 8px;
    }
  }


  &__menu-item {
    height: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
  }
}

// -----------------------------------
// Footer
// -----------------------------------

.footer {
  background: @background-black;
  align-self: end;
  position: relative;
  left: 0;
  bottom: 0;
  color: white;
  font-size: 0.9em;
  width: 100%;
  padding: 2em 5% 4em;
  //height: max-content;
  overflow: hidden;
  grid-area: footer;

  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 4em;

  grid-template-areas:
          "logo"
          "about"
          "address";

  @media (min-width: @medium) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;

    grid-template-areas:
            "logo logo"
            "about address";
  }
  @media (min-width: @large) {
    grid-template-columns: repeat(5, 1fr);

    grid-template-areas:
            ". logo about address .";
  }

  a {
    color: white;
  }

  &__logo {
    grid-area: logo;
    text-align: center;
    padding: 5%;

    img {
      height: 140px;
      width: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__about {
    grid-area: about;
    padding: 5%;

  }

  &__address {
    grid-area: address;
    padding: 5%;
  }
}

#address {
  @media (min-width: @medium) and (max-width: @large) {
    margin: 0 auto;
    width: max-content;
  }
}

// -----------------------------------
// Nested albums
// -----------------------------------

#albums, #media {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  width: 100%;
  position: relative;

  @media (max-width: @small) {
    justify-content: center;
  }
}

#albums a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  margin: 0.5em;
  position: relative;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  height: 190px;

  @media (min-width: @small) {
    margin: 2.5%;
    width: 45%;
  }

  @media (min-width: @medium) {
    margin: 2.5%;
    width: 45%;
  }

  @media (min-width: @large) {
    margin: 1.5%;
    width: 30.3%;
  }

  @media (min-width: @extra-large) {
    margin: 1%;
    width: 23%;
  }

  @media (min-width: @huge) {
    margin: 1%;
    width: 18%;
  }

  @media (min-width: @extra-huge) {
    margin: 0.25%;
    width: 12%;
  }
}

#albums .info {
  position: absolute;
  padding: 1em;
  background: rgba(0,0,0,0.3);
  color: #fff;
  font-size: 0.9em;
  line-height: 1.2em;
  margin: 0;
  width: 100%;
  font-weight: bold;
  bottom: 0;
}

#albums h3 {
  font-size: 1.3em;
  margin-bottom: 0.2em;
}

// -----------------------------------
// Photo and video thumbnails
// -----------------------------------

#media li {
  float: left;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.2em;
  position: relative;
  cursor: zoom-in;
}

#media a {
  display: inline-block;
  width: 100%;
}

#media img {
  display: block;
  width: 100%;
  height: 100%;
}

#media li .video-overlay {
  left: 50%;
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  position: absolute;
  top: 50%;
  width: 48px;
}

.thumb {
  display:flex;
  justify-content: center;
  align-content: center;
  object-fit: fill;
  margin: 2%;

  @media (min-width: @small){
    margin: 2.5%;
    width: 45%;
  }

  @media (min-width: @medium){
    margin: 1.5%;
    width: 30.3% ;
  }

  @media (min-width: @medium-large){
    margin: 1%;
    width: 23%;
  }

  @media (min-width: @large){
    margin: 1%;
    width: 18%;
  }

  @media (min-width: @extra-large){
    width: 15%;
    margin: 0.83%
  }

  @media (min-width: @huge){
    width: 12%;
    margin: 0.25%;
  }

  @media (min-width: @extra-huge){
    width: 8%;
    margin: 0.167%;
  }
}

// -----------------------------------
// Components
// -----------------------------------

.box-shadow {
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.15);
}
